* {
    margin: 0;
    padding: 0;
}


#universal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#universal-header h1 {
    position: absolute;
    left: 50%; /* Move the element -->RIGHT  50% of the screen */
    transform: translateX(-50%); /* Move the element LEFT by HALF it's width */
    margin: 0;

}

#universal-header #profile-menu {
    position: relative;
    margin-left: auto; /* Move menu to right side by adding some left margin */
    right: 6%;
    transform: translateX(50%);
    font-size: x-large;
}

#user-info {
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    gap: 5em;
}

#btn-signout {
}


/* NAV BAR */

#universal-nav-bar {
    margin: 1.5em;
}

#universal-nav-bar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: 2px solid black;
    background-color:#0036a1;
}

#universal-nav-bar ul li {
    flex: 1;
}

#universal-nav-bar ul li a {
    text-align: center;
    color: white;
    background-color: #0036a1;
    text-decoration: none;
    display: block; 
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em; 
    font-size: 30px; 
    font-family:monospace;
}

#universal-nav-bar ul li a:hover{
    color: #00fffb;
    font-weight: bold;
    background-color: #3076ff;
    transition: all 100ms;
    border-radius: 2vh;
}


.hidden {
    display: none;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}