* {
    margin: 0;
    padding: 0;
}


#origin-image-display {
    height: auto;
    width:25%;
}




#nonogram-gen-inputs-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#nonogram-submit-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

/* Main Grid */
#tile-grid-cells {
    border-collapse:collapse;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

/* Each Cell in Grid */
.cell {
    border: 1.5px solid black;
    width: 30px;
    height: 30px;
}

.cell-blank {
    background-color: white;
}
.cell-filled {
    background-color: black;
}

.cell-crossed {
    text-align:center;
    font-family:monospace;
    font-size: 1.8em;
}

.cell-data-row {
    border-top: 0.75mm ridge black;
    border-right: 0.75mm ridge black;
    border-bottom: 0.75mm ridge black;
    width: 60px;
    height:30px;
    font-family: monospace;
    font-size: 1.5em; 
    text-align: right;
    white-space: nowrap;
    word-spacing: -0.25em;
}

.cell-data-col {
    border-right: 0.75mm ridge black;
    border-left: 0.75mm ridge black;
    border-bottom: 0.75mm ridge black;
    height:60px;
    width: 30px;
    font-family: monospace;
    font-size: 1.5em;
    vertical-align: bottom;
    text-align: center;
}