* {
    margin: 0;
    padding: 0;
}


#origin-image-display {
    height: auto;
    width:25%;
}



/* Inputs Container */
#nonogram-gen-inputs-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}




#nonogram-submit-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 5em;
}

#save-nonogram-btn {
    background-color: rgb(0, 157, 255);
    padding: 10px;
    border: 2px solid black;
    border-radius:2vh;
    color: white;
    font-weight: bold; 
    font-family: monospace; 
    font-size: large;
    cursor: pointer;
}

#save-nonogram-btn:hover {
    background-color:rgb(0, 229, 255);
    transition: 100ms; 
    color: black;
    padding: 10.5px;
}

#name-nonogram-btn {
    border: 2px solid black;
    padding: 10px;
    width: 25em;
    border-radius: 1vh;
    font-weight: bold;
}

#nonogram-gen-rows {
}
/* Modes for clicking cells */ 

#mode-container h3 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

#mode-buttons-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#mode-buttons-container input {
    border-radius: 8px;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 0.7em;
    height: 2em;
    width: 5em;
    font-family: monospace;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.mode-btn-selected {
    background-color: #2465ff;
    box-shadow: 1px 1px 2px 1px gray;
}

.mode-btn-selected:hover {
    background-color: #004cff;
    transition: 200ms;
}

.mode-btn-unselected {
    background-color: gray;
}

.mode-btn-unselected:hover {
    background-color: #28385e;
    transition: 200ms;
}

/* Main Grid */
#tile-grid-cells {
    border-collapse:collapse;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border: 5px solid black; 
}

/* Each Cell in Grid */
.cell {
    border: 1.5px solid black;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.cell:hover {
    border: 3px solid black;
}

.cell-blank {
    background-color: white;
}
.cell-filled {
    background-color: black;
}

.cell-crossed {
    text-align:center;
    font-family:monospace;
    font-size: 1.8em;
    background-color: white;
}

.cell-data-row {
    border-top: 0.75mm ridge black;
    border-right: 0.75mm ridge black;
    border-bottom: 0.75mm ridge black;
    width: 60px;
    height:30px;
    font-family: monospace;
    font-size: 1.5em; 
    text-align: right;
    white-space: nowrap;
    word-spacing: -0.25em;
    background-color: white;
}

.cell-data-col {
    border-right: 0.75mm ridge black;
    border-left: 0.75mm ridge black;
    border-bottom: 0.75mm ridge black;
    height:60px;
    width: 30px;
    font-family: monospace;
    font-size: 1.5em;
    vertical-align: bottom;
    text-align: center;
    background-color: white;
}